@charset "UTF-8";

* {
  background-color: #4F5165;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  overflow: auto;
}

.formulario {
  color: white;
  font-size: 1.3em;
  margin: 40px auto 16px;
  padding: 16px 0;
  text-align: center;
  width: 80%;
}

.formulario input {
  border: none;
  font-size: 0.8em;
  height: 2.2em;
  margin-top: 16px;
  padding: 0 8px;
  width: 50%;
}

.formulario #valorInput {
  background-color: #fff;
}

.comprovantes-e-resultado {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin: auto;
  width: 80%;
}

.comprovantes-e-resultado h2 {
  color: white;
  padding: 8px 0;
  text-align: center;
}

.comprovantes-adicionados,
.resultado {
  border: 1px solid white;
  height: 250px;
  margin: 8px auto;
  overflow: auto;
  padding: 8px;
  width: 100%;
}

#listaDeComprovantes {
  color: white;
  font-size: 1.2em;
  list-style-position: inside;
  margin: 8px auto;
  width: 90%;
}

.lista-de-comprovantes li {
  height: 40%;
  padding: 8px;
}

.dados {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.dados p {
  background-color: white;
  border-radius: 16px;
  font-size: 1.2em;
  margin: 8px auto;
  padding: 24px 8px;
  text-align: center;
  width: 85%;
}


/* FOOTER */
footer {
  padding: 24px 8px;
  text-align: center;
  width: 100%;
}

footer p {
  color: #fff;
  font-size: 1.1em;
  text-align: center;
}

.contato {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin: 16px 0;
}

.fa-github,
.fa-linkedin {
  color: #fff;
  font-size: 1.2em;
  transition: 0.3s ease-out;
}

.fa-github:hover,
.fa-linkedin:hover {
  transform: translateY(6px); 
}

.texto-icone {
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1em;
  word-spacing: 2px;
}


/* LAYOUT RESPONSIVO */
@media (min-width: 992px) {
  main {
    height: 80vh;
  }

  .comprovantes-e-resultado {
    max-width: 900px;
    flex-direction: row;
  }

  .comprovantes-adicionados,
  .resultado {
    margin: 0 8px; 
  }
}